/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#top{
    background-color:#110033;
    height: 200px;
    
        }
h1{
    font-family: Kaushn Script;
    font-size: 100px;
    display: inline-block;
    margin-top: 60px;
}
.mainimage{
    height: 550px;
    background-image: url("/home/danielmaina/Desktop/bigtev'srestaurant/images/restaurant_decoration_design_interior_design_furniture_70082_1920x1080.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
a{
 text-decoration: none;
}

.links{
    text-align: right;
    display: inline-block;
    margin-left: 160px;
}
.links li{
    display:inline-block;
    margin-left: 10px;
    font-size: 20px;
}
.buttons{
    border-radius: 5px;
    color: white;
    cursor:pointer;
    border: 1px solid #fff;
    padding: 5px 30px;
}
.buttons:hover {
    background: #fff;
  color: #648880;
}
.teaser{
    width:1130px;
    margin:10px;
    padding: 20px;
    border-radius: 30px;
    border color: #110033;
    margin-left: 30px;
    
}
.teaser h4{
    font-size: 25px;
    width:200px;
    text-align: center;
}
#reservations{
    display: inline-block;
    margin-left: 80px;
    text-align: center;
}
#gallery{
    display: inline-block;
    width:330px;
    margin-left: 50px;
    text-align: center;
}
#offers{
    display: inline-block;
    width:330px;
    text-align: center;
}
img{
    margin-top: 20px;
    margin-bottom: 30px;
}
footer{
    display: block;
    height: 200px;
    background-color: #110033;
    border-radius: 5px;
}
.section{
    box-shadow: 10px 10px 5px
        #888888;
}

































































